body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.app-container {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0071ce;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.hero {
  background-color: #e3f2fd;
  padding: 50px 20px;
}

.hero h1 {
  font-size: 36px;
  color: #0071ce;
}

.hero p {
  font-size: 18px;
  color: #555;
}

.product-list {
  padding: 20px;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.product-card {
  background-color: white;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.product-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 16px;
  color: #0071ce;
  font-weight: bold;
}

.product-card a{
  text-decoration: none;
  color: #2cd823;
}

.product-card a:hover{
  text-decoration: underline;
}
